@font-face {
  font-family: ITCAvantGardePro;
  src: url(ITCAvantGardePro-Bold.otf);
}

@font-face {
  font-family: Arboria;
  src: url(Arboria-Bold.ttf);
}

@font-face {
  font-family: Arboria-md;
  src: url(Arboria-Medium.ttf);
}

.pbar{
  margin: 18.5px;
  width: 167px;
  height: 167px;
  position: absolute;
  z-index: 9;
  top: 0;
  -webkit-transform: scaleX(-1)  rotate(-45deg);
  transform: scaleX(-1)  rotate(-45deg);
}

.pbar2{
  left: 18px;
}

.pbar path:last-child{
  stroke-width: 4.5px;
}

body {
  background: #73c8d6;
  overflow-x: hidden;
}

body header {
  width: 100%;
  height: 80px;
  background: #fff;
}

.menu-container .menu-form .menu-items .item {
  font-size: 19.07px;
  margin: 5px 0;
  font-family: ITCAvantGardePro;
  text-transform: uppercase;
  color: #000;
  font-weight: 400;
}

.menu-container .menu-form .menu-items .item.active {
  font-weight: 600;
}

.menu-container .menu-form .menu-items .item a.click {
  color: #000;
}

.logo-container {
  width: 100%;
  height: 100%;
  display: block;
}

body footer {
  width: 100%;
  height: 309px;
  display: block;
  background: #73c8d6;
}

footer .title {
  padding: 20px 0;
  font-size: 16.12;
  font-weight: 500;
  color: #fff;
  font-family: ITCAvantGardePro;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

footer .privacy-terms-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

footer .privacy-terms-container .items {
  width: 332px;
  display: flex;
  justify-content: space-around;
  max-height: 15px;
}

footer .privacy-terms-container .items .item {
  font-size: 9.67px;
  font-weight: 500;
  color: #000;
  font-family: ITCAvantGardePro;
}

footer .privacy-terms-container .items .splitter::before {
  content: "";
  height: 100%;
  display: block;
  border-left: 2px solid #21b9d5;
}

footer .description span {
  display: block;
  margin: 0 auto;
  width: 512px;
  line-height: 12.89px;
  font-size: 8.06px;
  font-weight: 400;
  color: #000;
  font-family: Arboria;
  text-align: center;
}

footer .description span:nth-child(2) {
  margin: 20px auto;
}

footer .description span:nth-child(3) {
  margin: 20px auto;
}

footer .description span:nth-child(4) {
  margin: 20px auto;
}

footer .all-rights {
  display: block;
  margin: 20px auto;
  width: 512px;
  line-height: 12.89px;
  font-size: 8.06px;
  font-weight: 400;
  color: #fff;
  font-family: Arboria;
  text-align: center;
}

footer .some-text {
  display: block;
  margin: 20px auto;
  width: 512px;
  line-height: 12.89px;
  font-size: 8.06px;
  font-weight: 400;
  color: #000;
  font-family: Arboria-md;
  text-align: center;
}

.sait-body {
  width: 100%;
  background: url("BG-Pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sait-body .info-container.landing {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 20px 0;
}

.sait-body .info-container.landing .info-block {
  width: 478px;
  height: 100%;
}

.sait-body .info-container.landing .info-block .block-item-1 {
  display: flex;
  letter-spacing: 1.2px;
}

.sait-body .info-container.landing .info-block .block-item-2 {
  color: #0aa3bd;
  width: 100%;
  font-size: 25.63px;
  font-weight: 500;
  font-family: ITCAvantGardePro;
  text-align: center;
}

.sait-body .info-container.landing .info-block .block-item-1 span:first-child {
  width: 100%;
  font-size: 30.9px;
  font-weight: 400;
  color: #fff;
  font-family: ITCAvantGardePro;
  text-align: center;
}

.sait-body .info-container.landing .info-block .block-item-1 span:last-child {
  width: 100%;
  font-size: 30.9px;
  font-weight: 500;
  color: #fff;
  font-family: ITCAvantGardePro;
  text-align: center;
}

.sait-body .info-container.landing .info-block .block-item-3 {
  display: flex;
  justify-content: center;
}

.sait-body .info-container.landing .info-block .block-item-3 .time-container {
  line-height: 52px;
  display: flex;
}

.sait-body
  .info-container.landing
  .info-block
  .block-item-3
  .time-container
  span:first-child {
  width: 100%;
  font-size: 49.08px;
  font-weight: 400;
  color: #fff;
  font-family: ITCAvantGardePro;
  text-align: right;
  padding-right: 5px;
}

.sait-body
  .info-container.landing
  .info-block
  .block-item-3
  .time-container
  span:last-child {
  width: 100%;
  font-size: 42.61px;
  font-weight: 500;
  color: #0aa3bd;
  font-family: ITCAvantGardePro;
  text-align: left;
  padding-left: 5px;
}

.sait-body .taim-content {
  width: 100%;
  display: block;
}

.sait-body .taim-content .row {
  width: 538px;
  margin: 0 auto;
}

.sait-body .taim-content .rt-container {
  width: 100%;
  position: relative;
}

.sait-body .taim-content .rt-container .line-first {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 200px;
  top: 35px;
  left: 9px;
  z-index: 99;
}

.sait-body .taim-content .rt-container.tok-content .line-first {
  width: 250px;
  left: -15px;
}

.sait-body .taim-content .rt-container .line-first span {
  font-size: 13.47px;
  font-weight: 400;
  color: #fff;
  font-family: Arboria;
  display: block;
  text-align: center;
}

.sait-body .taim-content .rt-container .line-second {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 200px;
  bottom: 38px;
  left: 12px;
  z-index: 99;
}

.sait-body .taim-content .rt-container.tok-content .line-second {
  width: 245px;
  left: -8px;
}

.sait-body .taim-content .rt-container .line-second span {
  font-size: 13.47px;
  font-weight: 400;
  color: #fff;
  font-family: Arboria;
  display: block;
  text-align: center;
}

.sait-body .taim-content .rt-container .line-last {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0px;
  left: 12px;
  z-index: 99;
}

.sait-body .taim-content .rt-container .line-last span {
  font-size: 13.47px;
  font-weight: 400;
  color: #fff;
  font-family: Arboria;
  display: block;
  text-align: center;
  width: 100%;
}

.sait-body .taim-content .tik {
  width: 100%;
}

.sait-body .taim-content .tik span:first-child {
  font-size: 28.5px;
  font-weight: 400;
  color: #0aa3bd;
  font-family: ITCAvantGardePro;
  display: block;
  text-align: center;
}

.sait-body .taim-content .tik span:last-child {
  font-size: 19.52px;
  font-weight: 400;
  color: #0aa3bd;
  font-family: ITCAvantGardePro;
  display: block;
  text-align: center;
}

.sait-body .taim-content .tok {
  width: 100%;
}

.sait-body .taim-content .tok span:first-child {
  font-size: 28.5px;
  font-weight: 400;
  color: #0aa3bd;
  font-family: ITCAvantGardePro;
  display: block;
  text-align: center;
}

.sait-body .taim-content .tok span:last-child {
  font-size: 19.52px;
  font-weight: 400;
  color: #0aa3bd;
  font-family: ITCAvantGardePro;
  display: block;
  text-align: center;
}

.sait-body .taim-content .rt-container .clockB {
  position: absolute;
  top: 24px;
  left: 38px;
}

.sait-body .taim-content .rt-container .arrow {
  transition: transform 1s linear;
  transform: rotate(-135deg);
}

.sait-body .taim-content .rt-container .arrow.r-0 {
  position: absolute;
  z-index: 99;
  left: 106px;
  top: 38px;
  transform: rotate(225deg);
}

.sait-body .taim-content .rt-container .arrow.r-1 {
  position: absolute;
  z-index: 99;
  left: 106px;
  top: 38px;
  transform: rotate(115deg);
}

.sait-body .taim-content .rt-container .arrow.r-2 {
  position: absolute;
  z-index: 99;
  left: 106px;
  top: 38px;
  transform: rotate(45deg);
}

.sait-body .taim-content .rt-container .arrow.r-3 {
  position: absolute;
  z-index: 99;
  left: 106px;
  top: 38px;
  transform: rotate(-13deg);
}

.sait-body .taim-content .rt-container .arrow.r-4 {
  position: absolute;
  z-index: 99;
  left: 106px;
  top: 38px;
  transform: rotate(-45deg);
}

.sait-body .input-content {
  margin: 25px 0 37px 0;
  width: 100%;
  display: block;
}

.sait-body .input-content .row {
  width: 430px;
  margin: 0 auto;
}

.sait-body .input-content .tab {
  display: inline-grid;
  justify-content: center;
  width: 100%;
}

.sait-body .input-content .select {
  margin-top: 5px;
  width: 137px;
  font-size: 16.88px;
  font-weight: 500;
  height: 23px;
  font-family: ITCAvantGardePro;
  padding: 0 0 0 10px;
  color: #7d7d7d;
}

.sait-body .input-content .title {
  font-size: 13.73px;
  font-weight: 400;
  color: #fff;
  font-family: ITCAvantGardePro;
  text-align: left;
}

.sait-body .input-content .b-left {
  font-size: 16.88px;
  font-weight: 500;
  height: 20px;
  font-family: ITCAvantGardePro;
  border-top-left-radius: 9.5px;
  border-bottom-left-radius: 9.5px;
  padding: 0 0 0 10px;
  text-align: left;
  line-height: 20px;
}

.sait-body .input-content .b-right {
  display: flex;
  justify-content: flex-end;
}

.sait-body .input-content .apply-btn {
  width: 264px;
  margin: 42px auto 35px auto;
}

.sait-body .input-content .apply-btn .apply {
  width: 100%;
  font-size: 33.73;
  font-weight: 500;
  height: 66px;
  font-family: ITCAvantGardePro;
  text-transform: uppercase;
}

.sait-body .description.over-1000 {
  display: none;
}

.sait-body .input-content .description {
  width: 100%;
  margin-bottom: 37px;
}

.sait-body .input-content .description span {
  width: 511px;
  margin: 0 auto;
  font-size: 8.44;
  font-weight: Book;
  font-family: ITCAvantGardePro;
  color: #575757;
  display: block;
  text-align: center;
}

.step-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0aa3bd;
  font-size: 39.66px;
  font-weight: 400;
  color: #fff;
  font-family: ITCAvantGardePro;
  text-transform: uppercase;
}

.steps {
  height: 236px;
  width: 100%;
  display: block;
  background: #fff;
  padding: 0px 112px;
}

.steps .row .col {
  padding-top: 40px;
  padding-bottom: 40px;
}

.steps .row .title {
  display: block;
  text-align: center;
  font-size: 16.88px;
  font-weight: 500;
  color: #0aa3bd;
  font-family: ITCAvantGardePro;
  cursor: pointer;
}

.steps .row .img {
  width: 85px;
  height: 85px;
  display: block;
  margin: 18px auto;
  border-radius: 50%;
  cursor: pointer;
}

.steps .row .desc {
  display: block;
  text-align: center;
  font-size: 14.01px;
  font-weight: 400;
  color: #575757;
  font-family: ITCAvantGardePro;
  cursor: pointer;
}

.container-md {
  padding: 0;
  margin: 0;
  min-width: 350px;
}

/*form page*/

.sait-body .info-container.form {
  padding: 45px 15px 46px;
}

.sait-body .white-line {
  height: 7px;
  width: 100%;
  display: block;
  background: #fff;
  margin-top: 23px;
  position: relative;
  top: 7px;
}

.sait-body .info-container.form .info-block .block-item-1 span {
  width: 100%;
  margin: 0 auto;
  font-size: 34.99px;
  font-weight: 400;
  color: #fff;
  font-family: ITCAvantGardePro;
  text-align: center;
  display: block;
}

.sait-body .info-container.form .info-block .block-item-2 {
  display: block;
  text-align: center;
}

.sait-body
  .info-container.form
  .info-block
  .block-item-2
  span
  span:first-child {
  width: 100%;
  font-size: 51.67px;
  font-weight: 500;
  color: #fff;
  font-family: ITCAvantGardePro;
  text-align: right;
  padding-right: 5px;
}

.sait-body .info-container.form .info-block .block-item-2 span span:last-child {
  width: 100%;
  font-size: 44.86px;
  font-weight: 500;
  color: #0aa3bd;
  font-family: ITCAvantGardePro;
  text-align: left;
  padding-left: 5px;
}

.row.form {
  margin: 0 auto;
}

.row.form .col input:not(.no-min-size) {
  min-width: 320px;
}

.row.form .col input.calendar {
  min-width: 280px;
}

.row.form .col label.no-margin {
  margin: 0;
}

.row.form .col .yesNo {
  width: 206px;
  display: flex;
  height: 36px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: 15px;
}

.row.form .col span.yes {
  width: 103px;
  display: flex;
  height: 100%;
  color: #fff;
  font-size: 19.39px;
  font-family: ITCAvantGardePro;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.row.form .col span.no {
  width: 103px;
  display: flex;
  height: 100%;
  color: #fff;
  font-size: 19.39px;
  font-family: ITCAvantGardePro;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.row.form .col span.active {
  width: 103px;
  display: flex;
  height: 36px;
  background: #fff;
  border-radius: 10px;
  color: #707070;
  font-size: 19.39px;
  font-family: ITCAvantGardePro;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.row.form button.apply {
  width: auto;
  height: 92.47px;
  background: #0aa3bd;
  margin: 75px auto 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 47.48px;
  font-weight: 500;
  font-family: ITCAvantGardePro;
}

.flex-item {
  display: flex;
  justify-content: space-between;
}

.flex-item a {
  font-size: 19.59px;
  color: #707070;
  text-decoration: underline;
}

.row.form .col .inc-dec {
  width: 157px;
  display: flex;
  justify-content: space-between;
  height: 37px;
}

.row.form .col .inc-dec span.dec {
  width: 36px;
  height: 100%;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 27.89px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 29px;
  user-select: none;
}

.row.form .col .inc-dec span:nth-child(2) {
  width: 36px;
  display: flex;
  height: 100%;
  color: #707070;
  font-size: 27.29px;
  font-family: ITCAvantGardePro;
  justify-content: center;
  align-items: center;
}

.row.form .col .inc-dec span.inc {
  width: 36px;
  height: 100%;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 27.89px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 30px;
  user-select: none;
}

.row.form .col .form-group .form-control, .row.form .col .form-group .input-group-append {
  margin-top: 2px !important;
}

.margin-top-37 {
  margin-top: 37px !important;
}

.width-30 {
  max-width: 30% !important;
}

.row.form .col label {
  font-size: 27.89px;
  font-weight: 400;
  color: #707070;
  line-height: 34px;
}

.row.form .col label.required::after {
  content: "*";
  padding-left: 5px;
  font-size: 27.89px;
  font-weight: 400;
  color: #0498dd;
}

.row.form .row.checks {
  margin-top: 56px;
}

.row.form .row.checks .col:first-child {
  max-width: 43px;
  margin-right: 41px;
}

.row.form .row.checks .col:last-child span {
  font-size: 20.92px;
  font-weight: 400;
  color: #707070;
}

.row.form .check {
  width: 42px;
  height: 42px;
  display: flex;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.row.form .check.active::before {
  content: "";
  width: 38px;
  height: 37px;
  display: block;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.row.form .require-desc {
  font-size: 20.92px;
  font-weight: 500;
  color: #fff;
  display: block;
  margin-top: 55px;
}

.row.form .require-desc span {
  color: #0498dd;
}

.row.form .accept-desc {
  font-size: 20.92px;
  font-weight: 400;
  color: #707070;
  display: block;
  text-align: center;
}

.row.form .accept-desc a {
  color: #fff;
  text-decoration: underline;
  padding-left: 5px;
}

@media (max-width: 430px) {
  .container-md {
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  header {
    display: flex;
    padding: 0;
    align-items: center;
  }

  header .panel {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 10px;
  }



  .logo-container .logo {
    height: 100%;
    cursor: pointer;
  }

  .menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .menu-container .menu-form {
    /*width: 154px;*/
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu-container .menu-form .login {
    width: 105px;
    font-family: ITCAvantGardePro;
    text-transform: uppercase;
    padding: 0.25rem 0;
    margin-left: 22px;
  }
  .menu-form .menu-items {
    display: none;
    position: absolute;
    top: 80px;
    background: #fff;
    padding: 0 60px 20px 20px;
    z-index: 9;
  }



  .sait-body .input-content .description span {
    width: auto;
    padding: 0 15px;
  }

  .sait-body .input-content .apply-btn {
    width: 230px;
  }

  .sait-body .info-container.landing .info-block {
    width: 100%;
  }

  .sait-body .info-container.landing .info-block .block-item-1 {
    display: block;
    padding: 0;
  }

  .sait-body
    .info-container.landing
    .info-block
    .block-item-1
    span:first-child {
    width: 100%;
    font-size: 30.9px;
    text-align: center;
    display: block;
    padding-left: 0;
  }

  .sait-body .info-container.landing .info-block .block-item-1 span:last-child {
    width: 100%;
    font-size: 30.9px;
    text-align: center;
    display: block;
    padding-right: 0px;
  }

  .sait-body .info-container.landing .info-block .block-item-2 {
    width: 100%;
    font-size: 25.63px;
    text-align: center;
    display: block;
  }

  .sait-body .input-content .apply-btn .apply {
    width: 100%;
    font-size: 25.73px;
    height: 50px;
  }

  .sait-body .taim-content .row {
    width: auto;
    margin: 0 auto;
  }

  .sait-body .taim-content .rt-container {
    width: 237px;
    margin: 0 auto;
  }

  .sait-body .steps {
    height: auto;
  }

  .sait-body .step-header {
    font-size: 100%;
  }

  footer .description span {
    width: auto;
    padding: 0 15px;
  }

  footer .all-rights {
    width: auto;
  }

  footer .some-text {
    width: auto;
    padding: 0 15px;
  }

  .pbar2 {
    left: 17px;
  }
}

@media (min-width: 430px) {
  .container-md {
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  header {
    display: flex;
    padding: 0;
    align-items: center;
  }

  header .panel {
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 10px;
  }

 

  .logo-container .logo {
    height: 100%;
    cursor: pointer;
  }

  .menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .menu-container .menu-form {
    /*width: 154px;*/
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu-container .menu-form .login {
    width: 105px;
    font-family: ITCAvantGardePro;
    text-transform: uppercase;
    padding: 0.25rem 0;
    margin-left: 22px;
  }
  .menu-form .menu-items {
    display: none;
    position: absolute;
    top: 80px;
    background: #fff;
    padding: 0 60px 20px 20px;
    z-index: 9;
  }



  .sait-body .input-content .description span {
    width: auto;
    padding: 0 15px;
  }

  .sait-body .input-content .apply-btn {
    width: 230px;
  }

  .sait-body .info-container.landing .info-block {
    width: 100%;
  }

  .sait-body .info-container.landing .info-block .block-item-1 {
    display: flex;
    padding: 0 20px;
  }

  .sait-body
    .info-container.landing
    .info-block
    .block-item-1
    span:first-child {
    width: 100%;
    font-size: 22.9px;
    text-align: left;
    display: block;
    padding-left: 0;
  }

  .sait-body .info-container.landing .info-block .block-item-1 span:last-child {
    width: 100%;
    font-size: 22.9px;
    text-align: right;
    display: block;
    padding-right: 0;
  }

  .sait-body .info-container.landing .info-block .block-item-2 {
    width: 100%;
    font-size: 25.63px;
    text-align: center;
    display: block;
  }

  .sait-body .input-content .apply-btn .apply {
    width: 100%;
    font-size: 25.73px;
    height: 50px;
  }

  .sait-body .taim-content .row {
    width: auto;
    margin: 0 auto;
  }

  .sait-body .taim-content .rt-container {
    width: 237px;
    margin: 0 auto;
  }

  .sait-body .steps {
    height: auto;
  }

  .sait-body .step-header {
    font-size: 100%;
  }

  footer .description span {
    width: auto;
    padding: 0 15px;
  }

  footer .all-rights {
    width: auto;
  }

  footer .some-text {
    width: auto;
    padding: 0 15px;
  }

  .pbar2 {
    left: 17px;
  }
}

@media (min-width: 440px){
  .sait-body .info-container.landing .info-block .block-item-1 {
    display: flex;
    padding: 0px 20px;
    justify-content: space-around;
}

.sait-body .info-container.landing .info-block .block-item-1 span:first-child {

  font-size: 25.9px;
  text-align: left;
}

.sait-body .info-container.landing .info-block .block-item-1 span:last-child {
  width: 100%;
  font-size: 25.9px;
  text-align: right;
  display: inline;
  padding-right: 0;
}
}

@media (min-width: 650px){
  .sait-body .info-container.landing .info-block .block-item-1 {
    display: flex;
    padding: 0px 50px;
    justify-content: space-around;
}

.sait-body .info-container.landing .info-block .block-item-1 span:first-child {

  font-size: 30.9px;
  text-align: left;
}

.sait-body .info-container.landing .info-block .block-item-1 span:last-child {
  width: 100%;
  font-size: 30.9px;
  text-align: right;
  display: inline;
  padding-right: 20px;
}
}

@media (min-width: 768px) {
  .container-md {
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  header {
    display: flex;
    padding: 0 73px;
    align-items: center;
  }

  header .panel {
    width: 100%;
    height: 60px;
    display: flex;
  }



  .logo-container .logo {
    height: 100%;
    cursor: pointer;
  }

  .menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .menu-container .menu-form {
    /*width: 154px;*/
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu-container .menu-form .login {
    width: 105px;
    font-family: ITCAvantGardePro;
    text-transform: uppercase;
    padding: 0.25rem 0;
    margin-left: 22px;
  }
  .menu-form .menu-items {
    display: grid;
    position: absolute;
    top: 80px;
    background: #fff;
    padding: 0 60px 20px 20px;
    z-index: 9;
  }

 
  .sait-body .info-container.landing .info-block .block-item-1 {
    display: flex;
    padding: 0px 132px;
    justify-content: space-around;
}

.sait-body .info-container.landing .info-block .block-item-1 span:first-child {
  
  font-size: 30.9px;
  text-align: left;
}

.sait-body .info-container.landing .info-block .block-item-1 span:last-child {
  width: 100%;
  font-size: 30.9px;
  text-align: right;
  display: inline;
  padding-right: 20px;
}

}



@media (min-width: 865px){
  .sait-body .info-container.landing .info-block .block-item-1 {
    display: flex;
    padding: 0px 183px;
    justify-content: space-around;
}

.sait-body .info-container.landing .info-block .block-item-1 span:first-child {
  
  font-size: 30.9px;
  text-align: left;
}

.sait-body .info-container.landing .info-block .block-item-1 span:last-child {
  width: 100%;
  font-size: 30.9px;
  text-align: right;
  display: inline;
  padding-right: 20px;
}
}

@media (min-width: 910px){
  .sait-body .info-container.landing .info-block .block-item-1 {
    display: flex;
    padding: 0px 205px;
    justify-content: space-around;
}

.sait-body .info-container.landing .info-block .block-item-1 span:first-child {
 
  font-size: 30.9px;
  text-align: left;
}

.sait-body .info-container.landing .info-block .block-item-1 span:last-child {
  width: 100%;
  font-size: 30.9px;
  text-align: right;
  display: inline;
  padding-right: 20px;
}
}

@media (min-width: 1010px){
  .sait-body .info-container.landing .info-block .block-item-1 {
    display: flex;
    padding: 0px 252px;
    justify-content: space-around;
}

.sait-body .info-container.landing .info-block .block-item-1 span:first-child {
 
  font-size: 30.9px;
  text-align: left;
}

.sait-body .info-container.landing .info-block .block-item-1 span:last-child {
  width: 100%;
  font-size: 30.9px;
  text-align: right;
  display: inline;
  padding-right: 20px;
}
}

@media (min-width: 1100px) {
  header {
    justify-content: center;
    padding: 0;
  }

  header .menu {
    display: none;
  }
  .menu-container .menu-form .menu-items {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 151px;
    top: auto;
    background: none;
    padding: 0;
  }

  .menu-container .menu-form .menu-items .item {
    margin: 0 15px;
  }

  header .panel {
    width: 1100px;
    height: 60px;
    display: flex;
    position: relative;
  }
  .sait-body {
    width: 100%;
    background: url("BG-Pattern2.svg");
    background-repeat: no-repeat;
    background-position: unset;
    padding-top: 20px;
  }

  .sait-body .re-container {
    display: block;
    max-width: 1100px;
    margin: 0 auto;
  }

  .sait-body .flex-grid {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
  }

  .sait-body .description.over-1000 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16.67px;
    font-weight: Book;
    font-family: ITCAvantGardePro;
    text-align: center;
    color: #575757;
  }

  .sait-body .info-container.landing {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 20px 0;
  }

  .sait-body .info-container.landing .info-block {
    width: auto;
    height: 100%;
  }

  .sait-body .info-container.landing .info-block .block-item-1 {
    display: block;
    letter-spacing: 1.2px;
    padding: 0;
  }

  .sait-body .info-container.landing .info-block .block-item-2 {
    color: #0aa3bd;
    width: 100%;
    font-size: 41.85px;
    font-weight: 500;
    font-family: ITCAvantGardePro;
    text-align: center;
    display: block;
  }

  .sait-body
    .info-container.landing
    .info-block
    .block-item-1
    span:first-child {
    width: 100%;
    font-size: 60.52px;
    font-weight: 400;
    color: #fff;
    font-family: ITCAvantGardePro;
    text-align: left;
    display: block;
  }

  .sait-body .info-container.landing .info-block .block-item-1 span:last-child {
    width: 100%;
    font-size: 59.53px;
    font-weight: 500;
    color: #fff;
    font-family: ITCAvantGardePro;
    text-align: right;
    display: block;
  }

  .sait-body .info-container.landing .info-block .block-item-3 {
    display: flex;
    justify-content: center;
  }

  .sait-body .info-container.landing .info-block .block-item-3 .time-container {
    line-height: 52px;
    display: flex;
  }

  .sait-body
    .info-container.landing
    .info-block
    .block-item-3
    .time-container
    span:first-child {
    width: 100%;
    font-size: 79.43px;
    font-weight: 400;
    color: #fff;
    font-family: ITCAvantGardePro;
    text-align: right;
    padding-right: 5px;
  }

  .sait-body
    .info-container.landing
    .info-block
    .block-item-3
    .time-container
    span:last-child {
    width: 100%;
    font-size: 68.97px;
    font-weight: 500;
    color: #0aa3bd;
    font-family: ITCAvantGardePro;
    text-align: left;
    padding-left: 5px;
  }

  /*info container in forms page*/
  .sait-body .info-container.form .info-block .block-item-1 span {
    width: 1100px;
    margin: 0 auto;
    font-size: 55.91px;
    font-weight: 400;
    color: #fff;
    font-family: ITCAvantGardePro;
    text-align: left;
    display: block;
  }

  .sait-body .info-container.form .info-block .block-item-2 {
    display: block;
    text-align: center;
  }

  .sait-body
    .info-container.form
    .info-block
    .block-item-2
    span
    span:first-child {
    width: 100%;
    font-size: 82.56px;
    font-weight: 500;
    color: #fff;
    font-family: ITCAvantGardePro;
    text-align: right;
    padding-right: 5px;
  }

  .sait-body
    .info-container.form
    .info-block
    .block-item-2
    span
    span:last-child {
    width: 100%;
    font-size: 71.69px;
    font-weight: 500;
    color: #0aa3bd;
    font-family: ITCAvantGardePro;
    text-align: left;
    padding-left: 5px;
  }

  .sait-body .taim-content {
    width: 100%;
    display: block;
  }

  .sait-body .taim-content .row {
    width: 650px;
    margin: 0 auto;
  }

  .sait-body .taim-content .rt-container {
    width: 100%;
    position: relative;
  }

  .sait-body .taim-content .rt-container.tok-content .line-first {
    width: 250px;
    left: 13px;
  }

  .sait-body .taim-content .rt-container .line-second {
  
    left: 43px;
  }

  .sait-body .taim-content .rt-container.tok-content .line-second {
    width: 245px;
    left: 19px;
  }


  .sait-body .taim-content .rt-container .line-last {
    font-size: 13.47px;
    font-weight: 400;
    color: #fff;
    font-family: Arboria;
    display: block;
    text-align: center;
    width: 100%;
  }

  .sait-body .taim-content .tik {
    width: 100%;
  }

  .sait-body .taim-content .tik span:first-child {
    font-size: 28.5px;
    font-weight: 400;
    color: #0aa3bd;
    font-family: ITCAvantGardePro;
    display: block;
    text-align: center;
  }

  .sait-body .taim-content .tik span:last-child {
    font-size: 19.52px;
    font-weight: 400;
    color: #0aa3bd;
    font-family: ITCAvantGardePro;
    display: block;
    text-align: center;
  }

  .sait-body .taim-content .tok {
    width: 100%;
  }

  .sait-body .taim-content .tok span:first-child {
    font-size: 28.5px;
    font-weight: 400;
    color: #0aa3bd;
    font-family: ITCAvantGardePro;
    display: block;
    text-align: center;
  }

  .sait-body .taim-content .tok span:last-child {
    font-size: 19.52px;
    font-weight: 400;
    color: #0aa3bd;
    font-family: ITCAvantGardePro;
    display: block;
    text-align: center;
  }

  .sait-body .taim-content .rt-container .clockB {
    position: absolute;
    top: 24px;
    left: 66px;
  }

  .sait-body .taim-content .rt-container .arrow {
    transition: transform 1s linear;
    transform: rotate(224deg);
  }

  .sait-body .taim-content .rt-container .arrow.r-0 {
    position: absolute;
    z-index: 99;
    top: 38px;
    left: 134px;
    transform: rotate(224deg);
  }

  .sait-body .taim-content .rt-container .arrow.r-1 {
    position: absolute;
    z-index: 99;
    top: 38px;
    left: 134px;
    transform: rotate(116deg);
  }

  .sait-body .taim-content .rt-container .arrow.r-2 {
    position: absolute;
    z-index: 99;
    top: 38px;
    left: 134px;
    transform: rotate(44deg);
  }

  .sait-body .taim-content .rt-container .arrow.r-3 {
    position: absolute;
    z-index: 99;
    top: 38px;
    left: 134px;
    transform: rotate(-14deg);
  }

  .sait-body .taim-content .rt-container .arrow.r-4 {
    position: absolute;
    z-index: 99;
    top: 38px;
    left: 134px;
    transform: rotate(-46deg);
  }

  .sait-body .input-content {
    margin: 30px 0 37px 0;
    width: 100%;
    display: block;
  }

  .sait-body .input-content .row {
    width: 650px;
    margin: 0 auto;
  }

  .sait-body .input-content .row .col {
    display: inline-grid;
    justify-content: center;
  }

  .sait-body .input-content .row .col .select {
    margin-top: 5px;
    width: 137px;
  }

  .sait-body .input-content .row .col .title {
    font-size: 13.73px;
    font-weight: 400;
    color: #fff;
    font-family: ITCAvantGardePro;
    text-align: left;
  }

  .sait-body .input-content .row .col .b-left {
    font-size: 16.88px;
    font-weight: 500;
    height: 25px;
    font-family: ITCAvantGardePro;
    border-top-left-radius: 9.5px;
    border-bottom-left-radius: 9.5px;
    padding: 0 0 0 10px;
    text-align: left;
    line-height: 25px;
  }

  .sait-body .input-content .row .col .b-right {
    display: flex;
    justify-content: flex-end;
  }

  .sait-body .input-content .apply-btn {
    width: 264px;
    margin: 42px auto 35px auto;
  }

  .sait-body .input-content .apply-btn .apply {
    width: 100%;
    font-size: 33.73;
    font-weight: 500;
    height: 66px;
    font-family: ITCAvantGardePro;
    text-transform: uppercase;
  }

  .sait-body .input-content .description {
    display: none;
  }

  footer .title {
    padding: 39px 0 43px 0;
    font-size: 34.95px;
  }

  footer .privacy-terms-container {
    margin-bottom: 47px;
  }

  footer .privacy-terms-container .items {
    width: 722px;
    max-height: 32px;
  }

  footer .privacy-terms-container .items .item {
    font-size: 20.97px;
  }

  footer .description span {
    width: 1100px;
    line-height: 27.89px;
    font-size: 17.48;
  }

  footer .all-rights {
    width: 1100;
    font-size: 17.48px;
  }

  footer .some-text {
    width: 1100px;
    line-height: 27.89px;
    font-size: 17.48;
  }

  .steps .row {
    max-width: 1000px;
    margin: 0 auto;
  }
  .triangle {
    border-left: 82px solid #73c8d6 !important;
  }

  .radialProgressBar .overlay {
    background: #73c8d6 !important;
  }

  /*form page*/

  .row.form {
    max-width: 1100px;
    margin: 0 auto;
  }

  .row.form .col.side-left {
    margin-right: 63px !important;
  }

  .row.form .col.side-right {
    margin-left: 63px !important;
  }

  .row.form button.apply {
    width: 370.78px;
  }

  .pbar2{
    left: 46px;
  }
}
@media (min-width: 1200px) {
}

/*# sourceMappingURL=custom.css.map */

.radialProgressBar {
  border-radius: 50%;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  width: 163px;
  height: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  margin: 20px;
  float: left;
  transform: rotate(45deg);
  transition: all 3s linear;
}
.radialProgressBar .overlay {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  background: #87d0dc;
  text-align: center;
  padding-top: 30%;
}

.triangle {
  height: 0;
  width: 0;
  border-left: 82px solid #87d0dc;
  border-right: 100px solid transparent;
  border-bottom: 81px solid transparent;
  border-top: 81px solid transparent;
  transform: rotate(135deg);
  position: absolute;
  left: -16px;
  top: 7px;
}

.center-vertical {
  display: flex;
  justify-content: center;
}

/*input style range*/

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13px 0;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 33px;
  width: 23px;
  border-radius: 0px;
  background: #0aa3bd;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 33px;
  width: 23px;
  border-radius: 0px;
  background: #0aa3bd;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #878787;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type="range"]::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 33px;
  width: 23px;
  border-radius: 0px;
  background: #0aa3bd;
  cursor: pointer;
  height: 7px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #ffffff;
}

.relative {
  position: relative;
}

.calendar-icon{
  border-top-right-radius: 1.625rem;
  border-bottom-right-radius: 1.625rem;
}

select.form-control{
  -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 5px);
    background-position-y: 50%;
    padding: 0 24px 0 11px;
    cursor: pointer;
}